*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    width: 50%;
    text-align: center;
    background-color: #f2f2f2;
    font-size: 28px;
}

.container{
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* gap: -1rem; */
}

.logo{
    width: 100%;
    background-color: #c0c0c0;
    height: 6vh;
    margin-bottom: 10px;
    display: flex;
    padding: 10px;

}

.sidebar {
    padding: 20px;
    width: 25%;
    background-color: #c0c0c0;
    height: 51vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.hero{
    width: 70%;
    background-color: #f2f2f2;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.header{
    background-color: #c0c0c0;
    height: 25vh;
}

.body{
    background-color: #c0c0c0;
    height: 25vh;
}
footer{
    background-color: #c0c0c0;
    padding: 20px;
}